name: crypt_signature
description: crypt
version: 5.0.0
homepage: https://github.com/MaximMonakhov/crypt_signature

environment:
  sdk: ">=2.7.0 <3.0.0"
  flutter: ">=1.20.0"

dependencies:
  flutter:
    sdk: flutter
  shared_preferences: ^2.0.5
  uuid: ^3.0.2
  intl: ^0.17.0
  path_provider: ^2.0.1
  file_picker: ^3.0.4
  mask_text_input_formatter: ^2.0.0
  asn1lib: ^1.0.0
  crypto_keys: '>=0.2.0 <0.4.0'
  quiver: ^3.0.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  lint: ^1.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/error.png
  fonts:
    - family: CryptSignatureIcons
      fonts:
        - asset: assets/fonts/CryptSignatureIcons.ttf
  plugin:
    platforms:
      android:
        package: ru.krista.crypt
        pluginClass: CryptSignaturePlugin
      ios:
        pluginClass: CryptSignaturePlugin
